/* Natalie Assaad
 * October 26, 2018
 * JavaFX CSS - This makes the original display look visually appealing */

.text-field {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}

.root { /* background design */
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0,1,2;
    -fx-padding: 15 30 3 30; 
    }

.button { /* button design */
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover { /* button design when hovered over */
	-fx-background-radius: 9,8,7;
    -fx-background-insets: 1,2,3;
}
    
.button:pressed { /* button design when pressed */
    -fx-background-color: linear-gradient(#d6d6d6, #f2f2f2);
	-fx-background-radius: 9,8,7;
    -fx-background-insets: 1,2,3;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
